/* Add a black background color to the top navigation */
.topnav {
  z-index: 101;
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: #ffffff15 !important;
  overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav button {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 0%;
  border-color: black;
}


.logoutbtn {
  background: var(--pico-del-color);
  margin-left: auto;
  float: right !important;
}
#container {
  position: fixed;
  top: 60px; /* the top bar height */
  display: block;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: 0 none;
  box-sizing: border-box;
}
.loaderBg {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.53);
}
/* HTML: <div class="loader"></div> */
.loader {
  z-index: 101;
  position: fixed;
  /* margin: 50% 50%; */
  top: 50%; /* place in the middle */
  left:50%;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  /* border-color: #ddd,#0000; */
  animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}